@using System.Linq
@model IEnumerable<MoviesApp.ViewModels.ViewFilmsViewModel>

@{
    ViewData["Title"] = "Films";
}

<h1>Films</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            <label asp-for="@Model.First().movieName"></label>
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var v in Model)
    {
        <tr>
            <td>
                @v.movieName
            </td>
        </tr>
    }
    </tbody>
</table>
     <a asp-action="Index">Back to List</a>
